{% extends 'base.html' %}
{% load contact_tags %}
{% load static %}

{% block title %}<title>Coffee House</title>{% endblock %}

{% block content %}
    <div class="container">
        <div class="main">
            <div class="home">
                <div class="home__image">
                    <p class="home__title border-bot">TAKE YOUR TIME</p>
                </div>
            </div>
            <div class="story">
                <span class="story__title"><a href="{% url 'story-view' %}" class="blog__link">STORY</a>
                    <a href="{% url 'story-view' %}">
                        <img
                            src="https://source.unsplash.com/X4RJG4aNi8o/1920x1080"
                            class="story__image text-image-left border-bot shadow"
                            alt="story-image"
                        >
                    </a>
                </span>
                <div class="story__text text-image-left">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Aenean varius eget arcu quis cursus.
                    Nunc id tortor imperdiet, vestibulum orci sed, gravida orci.
                    Cras a enim ac elit eleifend euismod. Class aptent taciti sociosqu ad
                    litora torquent per conubia nostra, per inceptos himenaeos.
                    Praesent mattis ultrices est, congue ullamcorper erat bibendum
                    pulvinar. In accumsan dapibus accumsan. Maecenas semper est ut
                    nunc feugiat, vel ultrices ligula commodo. Donec eget pulvinar
                    nunc, eget pharetra risus.
                </div>
            </div>
            <div class="blog">
                <div class="blog__title" id="blog"><a href="{% url 'blog-posts' %}" class="blog__link">LATEST BLOG POSTS</a></div>
                <div class="card__container">
                    {% for post in blogs %}
                        <div class="blog__card mg-50 border-bot shadow">
                            <p class="card__title"><a href="/blog-posts/blog/{{ post.slug }}" class="card__link">{{ post.title }}</a></p>
                            <div class="card__image"><a href="/blog-posts/blog/{{ post.slug }}"><img src="{{ post.image.url }}" alt="image"></a></div>
                            <div class="card__text">{{ post.short_description }}.</div>
                            <div class="card__date">Created: {{ post.created_at }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% contact_form %}
        </div>
{% endblock %}
</div>
