{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Our Story</title>{% endblock %}

{% block content %}
    <div class="story-page__container">
        <div class="story-page-content border shadow">
            <p class="story-page__title">
                The Our Story Begins With You!
            </p>
            <img class="story-page__img border-bot shadow"
                src="https://media.istockphoto.com/photos/wood-table-top-with-blur-of-people-in-coffee-shop-or-background-picture-id967951076?k=20&m=967951076&s=612x612&w=0&h=-6ItLitKmrD9WnnROyQwmd1u597uTJX19qLUaLp4ATk="
                alt="Image"
            >
            <p class="story-page__text border-bot shadow">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore doloremque doloribus ducimus eligendi et expedita fugiat illo impedit in incidunt ipsa, iure labore molestias non quam quia reiciendis saepe sit suscipit tempora tempore temporibus voluptas.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, beatae commodi, dolorem ea iusto laboriosam minus odio officiis quod quos rem sequi totam velit. Debitis.
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste maxime quos sit suscipit tempora! Officia?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cum ea esse harum iste nisi numquam reiciendis sapiente similique. Ad aliquid excepturi natus repellat sit!
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aut delectus deleniti modi mollitia quibusdam recusandae sapiente tempore temporibus vero. Atque corporis cumque ducimus excepturi hic minus officiis quasi ratione recusandae voluptatum. Accusantium autem hic ipsum odit pariatur unde voluptatum?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet animi blanditiis consectetur consequuntur fugit illo ipsam iure labore laudantium magni mollitia odit officia quia quidem, quos reprehenderit, similique sint sit ullam. Adipisci, atque blanditiis consequuntur dolore eos id ipsam maiores nisi non provident quas quasi recusandae veniam vitae voluptatibus.

            </p>
        </div>
    </div>
{% endblock %}
