{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Our Story</title>{% endblock %}

{% block content %}
    <div class="story-page__container">
        <div class="story-page-content border">
            <p class="story-page__title">
                The Our Story Begins With You!
            </p>
            <img class="story-page__img border-bot"
                src="https://images.squarespace-cdn.com/content/v1/62fbb7a3d2dc9d5ced4f334c/7aa691f5-d0e1-4501-b106-2ff4398b624d/TS_espresso_v2-20.jpg"
                alt="Image"
            >
            <p class="story-page__text border-bot">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean varius eget arcu quis cursus. Nunc id tortor imperdiet,
                vestibulum orci sed, gravida orci. Cras a enim ac elit eleifend euismod.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Praesent mattis ultrices est, congue ullamcorper erat bibendum pulvinar.
                In accumsan dapibus accumsan. Maecenas semper est ut nunc feugiat, vel ultrices ligula commodo.
                Donec eget pulvinar nunc, eget pharetra risus.
                <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean varius eget arcu quis cursus. Nunc id tortor imperdiet,
                vestibulum orci sed, gravida orci. Cras a enim ac elit eleifend euismod.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Praesent mattis ultrices est, congue ullamcorper erat bibendum pulvinar.
                In accumsan dapibus accumsan. Maecenas semper est ut nunc feugiat, vel ultrices ligula commodo.
                Donec eget pulvinar nunc, eget pharetra risus.
                <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean varius eget arcu quis cursus. Nunc id tortor imperdiet,
                vestibulum orci sed, gravida orci. Cras a enim ac elit eleifend euismod.
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Praesent mattis ultrices est, congue ullamcorper erat bibendum pulvinar.
                In accumsan dapibus accumsan. Maecenas semper est ut nunc feugiat, vel ultrices ligula commodo.
                Donec eget pulvinar nunc, eget pharetra risus.
            </p>
        </div>
    </div>
{% endblock %}
