/* general styles */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
}

.border {
    -webkit-box-shadow: 8px 0px 0px 0px #DCD0C0, 0px 8px 0px 0px #B1938B, -8px 0px 0px 0px #4E4E56, 0px 0px 0px 8px #DA635D, 0px 0px 50px 17px rgba(0,0,0,0);
    box-shadow: 8px 0px 0px 0px #DCD0C0, 0px 8px 0px 0px #B1938B, -8px 0px 0px 0px #4E4E56, 0px 0px 0px 8px #DA635D, 0px 0px 50px 17px rgba(0,0,0,0);
}

.block {
    display: block;
    position: relative;
}

.transition:hover {
    transform: rotate(360deg);
    transition-duration: 2s;
}
/* homepage styles */
.container {
    width: auto;
    height: auto;
    background: #fff;
}

header, .header {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.logo {
    text-decoration: none;
    color: #333;
    width: 450px;
    height: 53px;
    padding-right: 80px;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
}

.glitch:hover {
    animation: glitch .25s ease-out;
}


.main {
    display: flex;
    flex-direction: column;
}

.home__image {
    display: flex;
    justify-content: center;
}

.home__image {
    width: auto;
    height: 730px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://source.unsplash.com/vSuQJKZkt4U/1920x1080');
    background-position: center;
    background-size: cover;
}

.home__title {
    width: auto;
    height: auto;
    padding-top: 260px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 89px;
    /* identical to box height */
    text-align: center;
    color: #fff;
}

.border-bot {
    border-bottom: 10px solid #817070;
    border-width; 50%;
}

.story {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
}

.story__title {
    margin: 20px 0px 20px 0px;
    width: auto;
    height: 53px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #333;
}

.story__image {
    width: 550px;
    height: 350px;
    background-position: center;
    background-size: cover;
    margin-top: 60px;
    margin-bottom: 59px;
    margin-left: 100px;
    border-radius: 1em;
}

.story__image:hover {
    border: 10px solid #817070;
}

.story__text {
    width: 650px;
    height: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #333;
    padding: 80px 100px 0px 0px;
    text-align: justify;
}

.blog {
    width: auto;
    height: auto;
    background: #EFEFEF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
    padding-top: 15px;
}

.blog__title {
    padding-bottom: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
}

.blog__link {
    color: #333;
    text-decoration: none;
}

.blog__link:hover {
    color: rgb(133, 80, 12)
}

.blog__card {
    border-radius: 1em;
    width: 365px;
    height: 484px;
    background: #FFFFFF;
    border-bottom: 3px solid #817070;
}

.blog__card:hover {
    box-sizing: border-box;
    border-bottom: 10px solid #817070;
}

.card__container {
    display: flex;
    flex-wrap: wrap;
}

.card__title {
    width: 300px;
    height: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    padding-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
}

.card__title:hover {
    width: 300px;
    font-size: 24px;
    color: rgb(133, 80, 12);
}

.card__link {
    text-decoration: none;
    color: #333;
}

.card__link:hover {
    color: rgb(133, 80, 12);
}

.card__link:active {
    color: rgb(228, 182, 123);
}

.card__image img {
    width: 300px;
    height: 216px;
    background-position: center;
    background-size: cover;
    margin: 24px 20px 24px 20px;
    border: 5px solid #bc8f66;
    border-radius: 1em;
    border-top-right-radius: 10% 30%;
}

.card__text {
    width: 325px;
    height: 108px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #333;
    padding: 0px 20px 46px 20px;
    text-align: justify;

}

.card__date {
    color: grey;
    margin-left: 175px;
    margin-top: 20px;
    width: 325px;
    height: 108px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 337px;
    background: #817070;
}

.contact__title {
    width: 161px;
    height: 53px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 60px 0px 0px 0px;
}

.contact__field {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__input {
    width: 300px;
    height: 55px;
    background: #817070;
    color: #fff;
    font-size: 20px;
    border: 3px solid #FFFFFF;
    background: transparent !important;
    outline: 0;
}

.contact__field::placeholder, {
    width: 150px;
    height: 30px;
    padding-left: 85px;
    padding-right: 78px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #fff;
}

.contact__button {
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #817070;
    box-sizing: border-box;
    width: 129px;
    height: 55px;
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    margin: 28px 0px 58px 0px;
    cursor: pointer;
}

.contact__button:active {
    border: 1.5px solid grey;
}

.footer {
    height: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__text {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #333;
    padding: 29px 815px 14px 800px;
}

.text-image-left {
    float: left;
 }

 .mg-50 {
     margin-left: 50px;
     margin-right: 50px;
 }

 .card-right {
    margin-left: 200px;
 }


.nav__home {
    position: fixed;
    background: #fff;
    width:  100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 10px 10px 126px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 126px -27px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 126px -27px rgba(0,0,0,0.75);
}

.navbar__order {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    background: #fff;
}

.menu__order {
    height: 681px;
    background: #817070;
}

.menu__home {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-right: 80px;
}

.link {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    margin-left: 46px;
}

.link:hover {
    color: #D7A45F;
}

.link:active {
    color: rgb(133, 80, 12);
}

/* Order page styles */
.link__order {
    background-color: rgba(114, 107, 99, 0.986);
    color: #fff;
    padding: 5px 10px 5px 10px;
}

.link__order:hover {
    background-color: #fff;
    color: rgb(133, 80, 12);
}

.contact__inputs {
    display: flex;
    justify-content: center;
}

input[type="text"], input[type="password"], input[type="email"]{
    background-color: inherit;
    width: 300px;
    height: 55px;
    font-size: 20px;
    font-weight: 300;
    outline: none;
    color: #fff;
    border: 3px solid #fff;
    padding-left: 5px;
}

.input-margin {
    margin-top: 86px;
}

.margin_bot {
    margin-bottom: 15px;
}


input[type="number"] {
    width: 130px;
    height: 55px;
    border: 3px solid #fff;
    background-color: inherit;
    color: #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    outline: none;
}

input[type="checkbox"] {
    -webkit-appearance: none;
}

.input__left {
    margin-right: 64px;
}

input::placeholder {
    width: 100%;
    height: 30px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #fff;
}

.checkbox {
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.checkbox + label {
    position: relative;
    padding: 0 0 0 40px;
    cursor: pointer;
}

.checkbox + label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0px;
    width: 26px;
    height: 26px;
    background: #ebe2e2;
}

.checkbox + label:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    width: 18px;
    height: 18px;
    background: #817070;
}

.checkbox:checked + label:after {
    background: #6a4646;
}

.checkbox__label {
    width: 100%;
    height: 30px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    color: #FFFFFF;
}

.order {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order__coffee {
    display: flex;
    flex-direction: column;
    margin-left: 352px;
}

.item {
    display: flex;
    align-items: center;
    margin-top: 17px;
    width: 350px;
}

.item__top {
    margin-top: 84px;
}

.order__coffee {
    margin-right: 132px;
}

.order__food {
    margin-right: 304px;
}

.order__final {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.total {
    width: 95px;
    height: 30px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #fff;
    padding-top: 39px;
    padding-bottom: 52px;
}

.btn {
    width: 190px;
    height: 55px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-transform: uppercase;
    color: #817070;
    margin-bottom: 35px;
    background: #fff;
    border: 3px solid #fff;
}

.btn:hover {
    color: rgb(94, 58, 58);
    cursor: pointer;
}

.btn:active {
    border: 3px solid #817070;
}

footer {
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    height: 150px;
}

.footer_left {
    display: inline;
    flex-direction: column;
    align-items: flex-end;
}

.footer_center {
    padding: 0px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    text-decoration: none;
    color: #333;
    width: 100px;
    height: 53px;
    font-weight: 500;
    font-size: 22px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
                radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
                radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
                radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
                linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
                linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
                linear-gradient(90deg, #ffffff 0%, rgba(213,155,51,1) 88%, rgba(189,135,6,0.83) 96%, #d58625 100%);
    border-radius: 8px;
    padding: 9px;
}

.footer__logo:hover {
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
                radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
                radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
                radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
                linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
                linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
                linear-gradient(90deg, #ffffff 0%, rgba(213,51,51,1) 88%, rgba(217,3,161,0.83) 97%, #d525b2 100%);
    border-radius: 8px;
    padding: 9px;
}

/* Personal blog page styles */
.personal-page-container {
    height: auto;
    background: #fff;
}

.blog__page {
    margin: 100px;
    border-radius: 1em;
    background: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal__title {
    color: #353839;
    height: 80px;
    width: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}


.blog__image {
    background-position: center;
    background-size: cover;
    width: 813px;
    height: 500px;
    border-radius: 1em;
    border: 1.5px solid grey;
}

.personal__text {
    color: #333;
    width: 50%;
    padding-top: 55px;
    padding-bottom: 55px;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    border-bottom: 3px solid #675a5a;
    letter-spacing: 1.5px;
}

.personal__date {
    color: grey;
    width: 50%;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    padding-top: 15px;
    text-align: center;
}

.btn__blog {
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
    text-decoration: none;
    background: #937171;
    color: #543636;
    border-color: #817070;
    border-radius: 0.5em;
}

.btn__blog:hover {
    color: #fff;
}

/* Style all font awesome icons */
.social-media__icons {
    display: flex;
    justify-content: center;
    text-align: center;
}

.fa {
  padding: 10px;
  margin: 10px;
  font-size: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: inherit;
  color: #BC8F66;
  border: 0.5px solid #BC8F66;
}

/* Twitter */
.fa-twitter {
  background: inherit;
  color: #BC8F66;
  border: 0.5px solid #BC8F66;
}

.fa-youtube {
  background: inherit;
  color: #BC8F66;
  border: 0.5px solid #BC8F66;
}

.fa-instagram {
  background: inherit;
  color: #BC8F66;
  border: 0.5px solid #BC8F66;
}

.fa-pinterest {
  background: inherit;
  color: #BC8F66;
  border: 0.5px solid #BC8F66;
}

.fa-pinterest:hover, .fa-youtube:hover {
    color: #FF0000;
    border-color: #FF0000;
}

.fa-facebook:hover {
    color: #4267B2;
    border-color: #4267B2;
}

.fa-twitter:hover {
    color: #1DA1F2;
    border-color: #1DA1F2;
}

.fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-color: #C13584;
}

/* Profile stylization */
.profile__fullname {
    color: #fff;
    text-align: center;
    margin-top: 35px;
    font-style: normal;
    font-weight: 200;
    font-size: 55px;
    line-height: 53px;
    border-bottom: 3px solid #817070;
    border-top: 3px solid #817070;
    padding-bottom: 15px;
}

.profile__title {
    color: #fff;
    text-align: center;
    margin-top: 55px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
}

.profile-container {
    height: 1300px;
    background: #817070;
    display: flex;
    justify-content: center;
}

.profile-background {
    height: 1200px;
    padding: 45px;
    border-radius: 0.5em;
    background: #675a5a;
    -webkit-box-shadow: 13px 21px 16px 14px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 13px 21px 16px 14px rgba(34, 60, 80, 0.2);
    box-shadow: 13px 21px 16px 14px rgba(34, 60, 80, 0.2);
}

.profile__avatar {
    margin-top: 150px;
    margin-left: 218px;
    width: 180px;
    height: 170px;
    border-radius: 0.5em;
}

.profile__btn {
    width: 190px;
    height: 55px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-transform: uppercase;
    color: #817070;
    margin-top: 35px;
    margin-left: 210px;
    background: #fff;
    border: 3px solid #fff;
}

.profile__btn:hover {
    color: rgb(94, 58, 58);
    cursor: pointer;
}

.profile__btn:active {
    border: 3px solid #817070;
}

.email-field__input:hover {
    cursor: not-allowed;

}

.user__joined {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 200;
}
#username__profile {
    font-size: 40px;
    border: none;
    text-align: center;
}

#profile__surname {
    margin-left: 5px;
}

#email__input {
    width: 609px;
    margin-top: 10px;
    cursor: not-allowed;
}

#profile__name, #profile__surname {
    margin-top: 25px;
}

#profile__surname {
    margin-left: 5px;
}

#city__input, #country__input {
    margin-top: 10px;
}

#sex__input, #city__input {
    margin-left: 5px;
}

#born__input, #sex__input {
    margin-top: 25px;
}

#profile__name, #profile__surname, #city__input,
#country__input, #sex__input, #city__input,
#born__input, #sex__input, #email__input, #age__input {
    border-color: #817070;
}

#profile__name:hover, #profile__surname:hover, #city__input:hover,
#country__input:hover, #sex__input:hover, #city__input:hover,
#born__input:hover, #sex__input:hover, #age__input:hover {
    border-color: #fff;
}

#profile__name:focus, #profile__surname:focus, #city__input:focus,
#country__input:focus, #sex__input:focus, #city__input:focus,
#born__input:focus, #sex__input:focus, #age__input:focus {
    border-color: #fff;
}

/* signup page stylization */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 970px;
    background: #817070;
}

.signup-page {
    height: auto;
    padding: 45px;
    border-radius: 0.5em;
    background: #675a5a;
    -webkit-box-shadow: 13px 21px 16px 14px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 13px 21px 16px 14px rgba(34, 60, 80, 0.2);
    box-shadow: 13px 21px 16px 14px rgba(34, 60, 80, 0.2);
}

.registration-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.registration-info input[type="text"], input[type="password"] {
    border-radius: 0.5em;
    border-color: #817070;
}

.registration-info input[type="text"]:hover, input[type="password"]:hover {
    border-color: #fff;
}

.registration-info input[type="text"]:focus, input[type="password"]:focus {
    border-color: #fff;
}

.signup__btn {
    margin-top: 65px;
    border-radius: 0.5em;
    width: 190px;
    height: 55px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-transform: uppercase;
    color: #817070;
    background: #fff;
    border: 3px solid #fff;

}

.btn_margin_right {
    margin-right: 250px;
}

.signup__title__style {
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
}

.shadow__input:hover {
    -webkit-box-shadow: -1px 1px 14px 1px rgba(255,255,255,1);
    -moz-box-shadow: -1px 1px 14px 1px rgba(255,255,255,1);
    box-shadow: -1px 1px 14px 1px rgba(255,255,255,1)
}

.shadow__input:focus {
    -webkit-box-shadow: -1px 1px 14px 1px rgba(255,255,255,1);
    -moz-box-shadow: -1px 1px 14px 1px rgba(255,255,255,1);
    box-shadow: -1px 1px 14px 1px rgba(255,255,255,1)
}

.signup_input {
    margin-top: 20px;
}

/* Error messages styles */
.error-body {
    color: #ff9800;
    font-size: 18px;
    font-weight: 200;
}

#name__signup {
    margin-top: 0px;
}

#surname__signup {
    margin-top: 0px;
}

#email__auth {
    margin-top: 0px;
    border-radius: 0.5em;
    border-color: #817070;
}

#email__auth:hover {
    border-color: #fff;
}

#email__auth:focus {
    border-color: #fff;
}

#password__signup {
    margin-top: 0px;
}

/* signin page stylization */

.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 970px;
    background: #817070;
}

.signin-page {
    height: 600px;
    padding: 45px;
    border-radius: 0.5em;
    background: #675a5a;
    -webkit-box-shadow: 13px 21px 16px 14px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 13px 21px 16px 14px rgba(34, 60, 80, 0.2);
    box-shadow: 13px 21px 16px 14px rgba(34, 60, 80, 0.2);
}

.login-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
}

.login-info input[type="text"] {
    border-radius: 0.5em;
    border-color: #817070;
}

.login-info input[type="text"]:hover {
    border-color: #fff;
}

.login-info input[type="text"]:focus {
    border-color: #fff;
}

.signin__btn__style {
    margin-left: 60px;
    border-radius: 0.5em;
}

.signin__title__style {
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
}

.login__links {
    color: #fff;
    margin-top: 10px;
    margin-left: 73px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login__link {
    margin-top: 5px;
    margin-right: 150px;
    text-decoration: none;
    color: #C8C8C8;
}

.login__link:hover {
    text-decoration: underline;
}

/* Not found (404) page stylization */
.not-found__page {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: #fff;
}

.not-found__upper-title {
    margin-bottom: 250px;
    margin-top: 30px;
    font-size: 40px;
    font-weight: 300;
}

.not-found__title {
    margin-bottom: 400px;
    font-size: 500px;
    color: #333;
    font-weight: 500;
    line-height: 53px;
    text-transform: uppercase;
}

/* File button form style */
.image__input {
    margin-left: 35px;
    display: flex;
    justify-content: center;
    color: #fff;
}

/* Blog posts page styles */
.posts-container {
    height: auto;
    background: #fff;
}

.post-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: #EFEFEF;
    margin: 80px 200px 100px 200px;
    padding-bottom: 50px;
    border-radius: 1em;
}

.post-body {
    padding-top: 200px;
}

.post__card {
    margin: 50px 50px 30px 50px;
    border-radius: 1em;
}

.blog_post__title {
    color: #353839;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    background: #EFEFEF;
    margin-left: 476px;
    margin-right: 476px;
    border-radius: 0.5em;
}

/* Pagination section style */

.pagination-link {
    text-decoration: none;
    text-align: center;
    color: #333;
    font-size: 20px;
    margin: 5px;
    padding: 1px 10px 1px 10px;
}

.pagination-link:hover {
    color: #937171;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
}

.page-num-selected {
    color: #BC8F66;
}

/* Story page styles */
.story-page__container {
    width: auto;
    height: 1550px;
    display: flex;
    justify-content: center;
}

.story-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
    height: 1500px;
    width: 1000px;
    border-radius: 1.5em;
    -webkit-box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.31);
    -moz-box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.31);
    box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.31);
}

.story-page__title {
    display: flex;
    color: #333;
    font-size: 44px;
    font-weight: 500;
    padding: 20px;
    border-radius: 0.5em;
}

.story-page__text{
    width: 650px;
    height: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    color: #333;
    text-align: justify;
    padding: 20px;
    border-radius: 1.5em;
    text-align: justify;
}

.story-page__img {
    width: 650px;
    height: 450px;
    border-radius: 1.5em;
    margin-bottom: 25px;
}

.shadow {
    -webkit-box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.31);
    -moz-box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.31);
    box-shadow: 10px 10px 23px -5px rgba(0,0,0,0.31);
}

/* glitch effect style */
@keyframes glitch {
    O% {
        transform: translateX(0);
        text-shadow:
            0 0 0 #0227f5,
            0 0 0 #4affff,
            0 0 0 #ff0825,
            0 0 0 #fffb19;
    }

    20% {
        transform: translateX(-0.1em);
        text-shadow:
            0.1em 0 0 #0227f5,
            -0.05em 0 0 #4affff,
            -0.1em 0 0 #ff0825,
            -0.2em 0 0 #fffb19;
    }

    40% {
        transform: translateX(0.05em);
        text-shadow:
            -0.05em 0 0 #0227f5,
            -0.1em 0 0 #4affff,
             0.05em 0 0 #ff0825,
             0 0 0 #fffb19;
    }

    60% {
        transform: translateX(-0.1em);
        text-shadow:
             0.2em 0 0 #0227f5,
             0.05em 0 0 #4affff,
             -0.1em 0 0 #ff0825,
             -0.05em 0 0 #fffb19;
    }

    80% {
        transform: translateX(0.05em );
    }
}
