{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Blog page</title>{% endblock %}

{% block content %}
  <header class="navbar__order">
    <a href="{% url 'index-view' %}" class="back__arrow">&#8592;</a>
    <a href="{% url 'index-view' %}" class="logo">BLOG PAGE</a>
  </header>

  <div class="personal_page_container">
    <div class="blog__page">
      <p class="personal__title">{{ object.title|safe }}</p>
      <div><img src="{{ object.image.url }}" class="personal__image" alt="image"></div>
      <div class="personal__text">{{ object.text|safe }}</div>
<!--      <iframe width="560" height="315" src="https://www.youtube.com/embed/BL8z5kHLezE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>-->
<!--      </iframe>-->
      <p class="personal__date">Post created: {{ object.created_at }}</p>
      <a href="{% url 'index-view' %}" class="btn btn__blog">back to home</a>
    </div>
  </div>
{% endblock %}
