{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Blog page</title>{% endblock %}

{% block content %}
  <header class="navbar__order"></header>
  <div class="personal_page_container">
    <div class="blog__page">
      <p class="personal__title">{{ object.title|safe }}</p>
      <div><img src="{{ object.image.url }}" class="blog__image border" alt="image"></div>
      <div class="personal__text">{{ object.text|safe }}</div>
      <p class="personal__date">Post created: {{ object.created_at }}</p>
      <p class="personal__date">Post updated: {{ object.updated_at }}</p>
      <a href="{% url 'index-view' %}" class="btn btn__blog">back to home</a>
    </div>
  </div>
{% endblock %}
