{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Profile</title>{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="signup-page">
            <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" alt="Avatar" class="profile__avatar">
            <p class="profile__fullname">John Doe</p>
            <p class="profile__title">Contact</p>
            <form action="#">
                <div class="full__name">
                    <span><input id="profile__name" type="text" placeholder="Name"></span>
                    <span><input id="profile__surname" type="text" placeholder="Surname"></span>
                </div>
                <div class="profile__contact">
                    <div class="email__input">
                        <span><input id="email__input" type="text" placeholder="Email"></span>
                    </div>
                    <p class="profile__title" id="general__title">General</p>
                    <div class="born__information">
                        <span><input id="born__input" type="text" placeholder="Age"></span>
                        <span><input id="sex__input" type="text" placeholder="Sex"></span>
                    </div>
                    <div class="location__information">
                        <span><input id="country__input" type="text" placeholder="Country"></span>
                        <span><input id="city__input" type="text" placeholder="City"></span>
                    </div>
                </div>
                <button class="profile__btn">Save changes</button>
            </form>
        </div>
    </div>
{% endblock %}
