{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Profile Page</title>{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="profile-background">
            <img
                src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'image/users/user_default_avatar.png' %} {% endif %}"
                class="profile__avatar shadow"
            >
            <form action="{% url 'accounts:profile-view' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="image__input">
                    {{ form.image }}
                </div>
                <p class="profile__fullname">{{ user }}</p>
                <p class="user__joined">Joined: {{ user.date_joined }}</p>
                <p class="profile__title">Contact</p>
                <div class="fullname__input">
                    {{ form.first_name }}
                    {{ form.last_name }}
                </div>
                <div class="profile__contact">
                    <div class="email__input">
                        {{ form.email }}
                    </div>
                    <p class="profile__title" id="general__title">General</p>
                    <div class="born__information">
                        {{ form.age }}
                        {{ form.sex }}
                    </div>
                    <div class="location__information">
                        {{ form.country }}
                        {{ form.city }}
                    </div>
                </div>
                <button class="profile__btn">Save changes</button>
            </form>
        </div>
    </div>
{% endblock %}
