{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Sign Up</title>{% endblock %}

{% block custom_header %} {% endblock %}

{% block content %}
    <div class="signup-container">
        <div class="signup-page">
            <p class="profile__title signup__title__style">Sign Up</p>
            <form action="{% url 'accounts:signup' %}" method="POST">
                {% csrf_token %}
                <div class="registration-info">
                    <span class="signup_input">
                        {{ form.first_name }}
                        {{ form.last_name }}
                    </span>
                    <span class="signup_input">
                        {{ form.username }}
                        {{ form.email }}
                    </span>
                    <span class="signup_input">
                        {{ form.password1 }}
                        {{ form.password2 }}
                    </span>
                    <span>
                        <button class="signup__btn signup__btn__style" type="submit">Sign Up</button>
                    </span>
                    <span class="login__links">
                        <p>Already a member? <a class="login__link" href="{% url 'accounts:signin' %}">Sign In</a></p>
                    </span>
                </div>
            </form>
        </div>
<!--        <div class="error_messages">-->
<!--            <div class="error-body">-->
<!--                <p class="cross">&#10006;</p>-->
<!--                <p class="error__title">Error!</p>-->
<!--                <p class="error_text">Some text about errors...</p>-->
<!--            </div>-->
<!--        </div>-->
    </div>
{% endblock %}