{% extends 'base.html' %}

{% load static %}

{% block title %}<title>Sign In</title>{% endblock %}

{% block custom_header %} {% endblock %}

{% block content %}
    <div class="signin-container">
        <div class="signin-page">
            <p class="profile__title signin__title__style">Sign In</p>
            <form action="{% url 'accounts:signin' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
<!--                <div class="login-info">-->
<!--                    <span><input id="email__signup" type="text" placeholder="Enter your email"></span>-->
<!--                    <span><input id="password__signup" type="text" placeholder="Enter your password"></span>-->
<!--                    <a class="login__link" href="#">Forgot password?</a>-->
                    <button class="profile__btn signup__btn__style">Sign In</button>
                    <span class="login__links">
                        <p>Not a member? <a class="login__link" href="{% url 'accounts:signup' %}">Sign Up</a></p>
                    </span>
<!--                </div>-->
            </form>
        </div>
    </div>
{% endblock %}