{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Sign Up</title>{% endblock %}
{% block custom_header %} {% endblock %}
{% block content %}
    <div class="signup-container">
        <div class="signup-page">
            <p class="profile__title signup__title__style">Sign Up</p>
            <form action="#" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="registration-info">
                    <span><input class="signup_input" id="name__signup" type="text" placeholder="Enter your name"></span>
                    <span><input id="surname__signup" type="text" placeholder="Enter your surname"></span>
                    <span><input id="password__signup" type="text" placeholder="Enter your password"></span>
                    <span><input id="email__signup" type="text" placeholder="Enter your email"></span>
                    <button class="profile__btn signup__btn__style" type="submit">Sign Up</button>
                    <span class="login__links">
                        <p>Already a member? <a class="login__link" href="{% url 'accounts:signin' %}">Sign In</a></p>
                    </span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}